.navbar.transparent.navbar-custom {
   background:#ffffff;
}

.container.navbar-border {	
    border-bottom: 1px solid #87CEFA;
}

.dropdown-menu {
	color:#87CEFA;
}

body {
  /* Margin bottom by footer height */
  margin-top: 0px;
  padding-top: 50px;
  
}